* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}


/* LEFT PANEL */

.left-panel {
    width: 40%;
    background: #1f49c6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 140px;
    opacity: 0.9;
}


/* RIGHT PANEL */

.right-panel {
    width: 60%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

.right-panel h1 {
    color: #0c2a66;
    font-size: 32px;
    margin-bottom: 35px;
    line-height: 1.3;
}


/* FORM */

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 6px;
    color: #444;
}

.login-form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.login-form input:focus {
    border-color: #1f49c6;
}

.login-form button {
    padding: 14px;
    background: #1f49c6;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.login-form button:hover {
    background: #183a9c;
}

.time-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #1e6ffb;
    padding: 10px 15px;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 150px;
}

#clock {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 6px;
}

#date {
    font-size: 15px;
    opacity: 0.95;
}