* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: sans-serif;*/
}

@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/iranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    font-family: 'IranianSans';
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}


/* LEFT PANEL */

.left-panel {
    width: 40%;
    background-color: #1f49c6;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    object-fit: contain;
    opacity: 0.9;
}


/* RIGHT PANEL */

.right-panel {
    width: 60%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

.right-panel h1 {
    color: #0c2a66;
    font-size: 32px;
    margin-bottom: 35px;
    line-height: 1.3;
}


/* FORM */

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 6px;
    color: #444;
}

.login-form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
}

.login-form input:focus {
    border-color: #1f49c6;
}

.login-form button {
    padding: 14px;
    background: #1f49c6;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.login-form button:hover {
    background: #183a9c;
}

.time-container-login {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #1e6ffb;
    padding: 10px 15px;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 150px;
}

.time-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #1e6ffb;
    padding: 10px 15px;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 150px;
}

#clock {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 6px;
}

#date {
    font-size: 15px;
    opacity: 0.95;
    font-weight: bold;
}


/* --- متن معرفی دانشگاه --- */

.left-panel .university-description {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.9;
    text-align: center;
    padding: 0 10px;
    /*background: rgba(22, 6, 235, 0.75);*/
    border-radius: 8px;
    margin-top: 10px;
}


/* --- Dashboard Layout --- */

.dashboard-container {
    display: flex;
    height: 100vh;
}


/* --- Sidebar --- */

.sidebar {
    width: 300px;
    background-color: #1e6ffb;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar-logo img {
    width: 90px;
    margin-bottom: 10px;
}

.sidebar-logo h2 {
    font-size: 18px;
}


/* Menu */

.menu {
    list-style: none;
    padding: 10px;
    width: 100%;
}

.menu-item {
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 16px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.menu-item.active {
    background-color: white;
    color: #0b3b78;
    font-weight: bold;
}


/* --- Main Content --- */

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f7f9fc;
}

.page-title {
    margin-bottom: 25px;
}


/* Cards */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-4px);
}

.logout-button {
    width: 100%;
    background-color: #1e6ffb;
    color: white;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 8px;
    font-family: inherit;
    transition: 0.4s;
}

.logout-button:hover {
    background-color: #fb1e1e;
}
